node_modules
.sst/*
.env
.dev.vars
.wrangler/*
# ignored because this is a build artifact that must be generated
static/assets/styles.css
static/assets/styles.*.css
*_templ.go
coverage.out
coverage.txt
functions/gateway/helpers/cloudflare_locations.go
cdk.context.json
screenshots/*
docker_build/**
tmp/**
last_update.txt
.DS_Store
