package components

templ Navbar() {
	<div class="navbar bg-primary shadow-xl rounded-box">
		<div class="navbar-start">
			<a
				class="btn btn-ghost text-xl"
				href="/"
			>Meet Near Me</a>
		</div>
		<div class="navbar-end">
			<a
				class="btn btn-ghost btn-accent"
				href="/login"
			>
				Login
			</a>
		</div>
	</div>
}
