@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;
@tailwind layout;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Outfit', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 600;
  }
}

@layer base {
  h1.alt-title,
  h2.alt-title,
  h3.alt-title,
  h4.alt-title,
  h5.alt-title,
  h6.alt-title {
    font-family: 'Unbounded', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 900;
  }
}

@layer base {
  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    letter-spacing: 0.15rem;
    text-transform: uppercase;
  }
}

@layer components {
  .carousel-control-left {
    @apply no-animation absolute left-0 mr-8 -m-1 top-1/2 -translate-y-1/2 -translate-x-full;
  }
  .carousel-control-right {
    @apply no-animation absolute right-0 ml-8 -m-1 top-1/2 -translate-y-1/2 translate-x-full;
  }
}

body {
  padding-top: 5rem;
}

body:has(.bottom-drawer) {
  padding-bottom: 10rem;
}

#main-nav {
  min-height: 4.8rem;
}

.sticky-under-top-nav {
  top: 4.8rem;
}

.sticky-under-top-nav.subheader {
  top: 8.4rem;
}

.sticky-under-top-nav + *:first-child {
  margin-top: 4.8rem;
}

.brand-logo {
  width: 3rem;
  height: 4.8rem;
  /* TODO: this shouldn't be hard coded  */
  padding: 0.5rem;
}

.brand-type {
  width: 7.7rem;
}

.drawer-end .drawer-toggle ~ .drawer-side {
  z-index: 999;
}

.menu .collapse .collapse-title {
  padding: 0;
  min-height: 1.75rem;
}

.menu .collapse-content {
  padding-left: 0;
  padding-right: 0;
  overflow: initial;
}

.menu :where(.menu li) {
  flex-wrap: nowrap;
}

.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
  background-color: transparent;
}

.menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  gap: 0;
  grid-auto-columns: initial;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dropdown-content {
  width: max-content;
}

.dropdown-content.menu li {
  flex-direction: row;
}

.dropdown-content.menu .label {
  justify-content: flex-start;
}

.dropdown-content .collapse-title,
:where(.dropdown-content .collapse > input[type='checkbox']),
:where(.dropdown-content .collapse > input[type='radio']) {
  /* min-height: 0; */
  min-height: 1.5rem;
}

.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inherit;
}

.htmx-request .htmx-indicator.flex {
  display: flex;
}

.htmx-show-in-flight {
  display: none;
}

.htmx-request .htmx-show-in-flight {
  display: inherit;
}

.htmx-hide-in-flight {
  display: inherit;
}

.htmx-request .htmx-hide-in-flight {
  display: none;
}

.margins-when-children:not(:has(:first-child)) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* BEGIN seshu ingestion "add event source" section */

#event-source-steps .step {
  min-width: 15rem;
}

.checkbox-card {
  border: 2px solid oklch(var(--er));
}

.checkbox-card .checkbox-card-header {
  border-top-left-radius: var(--rounded-btn);
  border-top-right-radius: var(--rounded-btn);
}

.checkbox-card .checkbox-card-header .label {
  justify-content: center;
}

.checkbox-card .checkbox-card-header:has(input[type='checkbox']) {
  background-color: oklch(var(--er));
  color: oklch(var(--erc));
}

.checkbox-card .checkbox-card-header:has(input[type='checkbox']:checked) {
  background-color: oklch(var(--su));
  color: oklch(var(--suc));
}

.checkbox-card:has(input[id*='main-toggle-'][type='checkbox']:checked) {
  border-color: oklch(var(--su));
}

.has-toggleable-text:has(input[type='checkbox']) .hidden-when-checked {
  display: inherit;
}

.has-toggleable-text:has(input[type='checkbox']:checked) .hidden-when-checked {
  display: none;
}

.has-toggleable-text:not(:has(input[type='checkbox']:checked))
  .hidden-when-not-checked {
  display: none;
}

#event-source-container:not(:has(#event-candidates-inner .checkbox-card))
  .candidates-loaded-visible,
#event-source-container:has(#event-candidates-inner .checkbox-card)
  .candidates-loading-visible {
  height: 0;
  width: 0;
  opacity: 0;
  display: none;
}

#event-source-container:has(#event-candidates-inner .checkbox-card)
  #explainer-section
  .alert-info {
  background-color: oklch(var(--su));
}

/* END seshu ingestion "add event source" section */

.bottom-drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  height: auto;
  /* TODO: FIX THIS! use tailwind variables */
  background: white;
  padding: 20px;
}

.btn.carousel-control-left:active:hover,
.btn.carousel-control-left:active:focus {
  transform: translate(-100%, -50%);
}

.btn.carousel-control-right:active:hover,
.btn.carousel-control-right:active:focus {
  transform: translate(100%, -50%);
}

.btn.btn-bold-outline {
  border: 5px solid oklch(var(--p));
  color: oklch(var(--pc)) !important;
}

.btn.btn-primary.btn-bg-inverted {
  background-color: oklch(var(--btn-bg-inverted));
  color: oklch(var(--btn-bg-inverted-content));
}

.btn.btn-primary.btn-bg-inverted:hover {
  background-color: oklch(var(--p));
  color: oklch(var(--btn-bg-inverted-content));
}

.btn-outline.btn-primary.text-neutral-content {
  color: var(--fallback-nc, oklch(var(--nc) / var(--tw-text-opacity)));
}

.drawer .collapse-content :where(.menu li) {
  flex-direction: inherit;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.tab:is(input[type='radio']) {
  width: max-content;
}

.header-hero .opener {
  font-size: 125%;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.table.top-align :where(th, td) {
  vertical-align: top;
}

.object-position-25-25 {
  object-position: 25% 25%;
}

.link-text {
  color: var(--fallback-p, oklch(var(--p)));
  background-color: var(--fallback-pc, oklch(var(--pc)));
  padding: 0.125rem 0.25rem;
}

.link-text:hover {
  color: var(--fallback-pc, oklch(var(--pc)));
  background-color: var(--fallback-p, oklch(var(--p)));
}

/* Show an item only when an item within the parenthas focus */
.show-on-focus-parent:focus-within .show-on-focus-child {
  opacity: 1;
  max-height: 200px;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.show-on-focus-child {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
}

.body-font {
  font-family: inherit;
}
.rainbow-box {
  border-radius: 9999px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.rainbow-box:before {
  content: '';
  position: absolute;
  height: 50rem;
  width: 50rem;
  left: -50rem;
  right: -50rem;
  top: -50rem;
  bottom: -50rem;
  border-radius: 50%;
  margin: auto;
  background: #9ba4b5;
  z-index: -2;
  pointer-events: none;
  animation: rotate-then-fade 3.5s linear 1 forwards;
  background: conic-gradient(
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
}
.rainbow-box:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  background: white;
  z-index: -2;
  pointer-events: none;
  border-radius: 9999px;
}
@keyframes rotate-then-fade {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  10% {
    transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: rotate(20deg);
    opacity: 0.9;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  90% {
    transform: rotate(340deg);
    opacity: 0.9;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
